*{
    margin: 0;
    padding 0;

    
}


.cabecalho {
    background-color: rgb(239, 236, 240);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    color:rgb(0, 0, 0) 
    
    


}


.cabecalho-imagem{
width: 30%

}

.cabecalho-lista-item {
    display:inline-block;
    margin: 20px 20px;
    font-size: 70px;   
}

.golden-imagem{
    width: 20%;
}

.golden-retriever{
    background-image: linear-gradient(239, 236, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 60px;
}

.golden-div-conteudo{
    width: 20%;
}

..golden-titulo{
    padding: 30px 0;
}




.golden-britanico-imagem{
    width: 140px
}

.golden-branco-american{
    width: 140px;
}

.mini-golden{
    width: 140px;
}